<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Predictor - Predict</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    
<style>
        body  {
                background-image: url("static/images/ba.png") ;
                background-size: cover;
                background-repeat: no-repeat;
              }
</style>
</head>

<body>
        <div class="container" style="margin-bottom: 50px;">
        <div class="row">
                <div class="col-sm-1"></div>
        <div class="col-sm-10" style="align-items:center">
                <center>
                                <br><br><br>
        <h2 >LOAN PREDICTOR FORM</h2>
        <p >Fill the form to predict</p>
        <table style="color: black;">
                <form action="/result" method="POST">
                <tr>
                        <td>Are You a Lender / Loan Applicant</td>
                        <td class="td1"><input id="lend" name="lend" type="radio" value=1 required>&nbsp;Lender&ensp;&ensp;<input id="lend" name="lend" type="radio" value=0>&nbsp;Loan Applicant</td>
                </tr>
                <tr>
                        <td>Name (in Caps)</td>
                        <td><input name='name' type="text" required></td>
                </tr>
                <tr>
                        <td>Gender (Male/Female)</td>
                        <td class="td1"><input id="gender" name="gender" type="radio" value=1 required>&nbsp;Male&ensp;&ensp;<input id="gender" name="gender" type="radio" value=0>&nbsp;Female</td>
                </tr>
                <tr>
                        <td>Married(Yes/No)</td>
                        <td class="td1"><input id="married" name="married" type="radio" value=1 required>&nbsp;Yes&ensp;&ensp;<input id="married" name="married" type="radio" value=0>&nbsp;No</td>
                </tr>
                <tr>
                        <td>Dependents (Enter a number)</td>
                        <td><input name='dep' type="number" min="0" step='1' placeholder="" required=""></td>
                </tr>
                <tr>
                        <td>Education</td>
                        <td class="td1"><input id='edu' name='edu' type="radio" value=1 required>&nbsp;Non-Graduate&ensp;&ensp;<input id="edu" name="edu" type="radio" value=0>&nbsp;Graduate</td>
                </tr>
                <tr>
                        <td>Self Employed (Yes/No)</td>
                        <td class="td1"><input id="se" name="se" type="radio" value=1 required>&nbsp;Yes&ensp;&ensp;<input id="se" name="se" type="radio" value=0>&nbsp;No</td>
                </tr>
                <tr>
                        <td>Applicant Income (Enter a number without commas)</td>
                        <td><input id='AI' name='ai' type="number" min='0' required=""></td>
                </tr>
                <tr>
                        <td>Co-Applicant Income (Enter a number without commas)</td>
                        <td><input id='CAI' name='cai' type="number" min='0' required=""></td>
                </tr>
                <tr>
                        <td>Loan Amount (Enter a number without commas)</td>
                        <td><input id='la' name='la' type="number" min='0' required=""></td>
                </tr>
                <tr>
                        <td>Loan Amount Term  (Enter a number in days)</td>
                        <td><input id='lat' name='lat' type="number" min='0' step="1" required=""></td>
                </tr>
                <tr>
                        <td>Credit History (Yes/No)</td>
                        <td class="td1"><input id="ch" name="ch" type="radio" value=1 required>&nbsp;Yes&ensp;&ensp;<input id="ch" name="ch" type="radio" value=0>&nbsp;No</td>
                </tr>
                <tr>
                        <td>Property Area</td>
                        <td  class="td1"><input id="pa" name="pa" type="radio" value=2 required>&nbsp;Urban&ensp;&ensp;<input id="pa" name="pa" type="radio" value=0>&nbsp;Rural&ensp;&ensp;<input id="pa" name="pa" type="radio" value=1>&nbsp;Semi Urban&ensp;&ensp;<input id="pa" name="pa" type="radio" value=0>&nbsp;No Property</td>
                </tr>
        </table><br>
            <center>
                        <button class="btn btn-success" id="submit" type="submit" value="Click to Check">Click to Check</button>
                        <button class="btn btn-warning" id="reset" type="reset" value="Clear">Clear</button>
                </center>
                        
        
                       
                
                </form>
       </center>
        </div>
        <div class="col-sm-1"></div>
      
        </div>
        </div>

</body>
</html>